[Unit]
Description=Chatbot - Docker Compose Stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/jadaboawwad/Files/Software/Repositories/Applications/Chatbot
ExecStartPre=/bin/sleep 5
ExecStart=/home/jadaboawwad/Files/Software/Repositories/Applications/Chatbot/deploy/systemd/chatbot-start.sh
ExecStop=/usr/bin/docker compose down
ExecReload=/home/jadaboawwad/Files/Software/Repositories/Applications/Chatbot/deploy/systemd/chatbot-start.sh
User=jadaboawwad
Group=jadaboawwad
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
